<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For ensuring page looks same (or at least simmillar) on all devices -->
        <meta name="author" content="Grzegorz Spakowski">
        <title>{% block title %}{{ title_default }}{% endblock %}</title>
        <link rel="icon" style="border-radius: 10px" href="{{ asset('build/images/board.b78c7710.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navigation">
            <div class="nav-flex">
                <div class="nav-icon-wrapper">
                    <a href="{{ path("index") }}">
                        <img class="base-nav-icon" src="{{ asset('build/images/board.b78c7710.png')}}" alt="">
                    </a>
                </div>
                <div class="nav-pages">
                    <div class="nav-page-link-wrapper">
                        <a class="nav-page-link" href="{{ path('index') }}">Home</a>
                    </div>
                    <div class="nav-page-link-wrapper">
                        <a class="nav-page-link" href="{{ path('schedule') }}">Schedule</a>
                    </div>
                    <div class="nav-page-link-wrapper">
                        <a class="nav-page-link" href="{{ path('messenger') }}">Messenger</a>
                    </div>
                    <div class="nav-page-link-wrapper">
                        <a class="nav-page-link" href="{{ path('classroom') }}">Classroom</a>
                    </div>
                    <div class="nav-page-link-wrapper">
                        <a class="nav-page-link" href="{{ path('admin') }}">Admin</a>
                    </div>
                </div>
                <div class="nav-login">
                    {% if app.user %}
                        <div class="nav-username-display">{{ "#{app.user.name} #{app.user.surname}" }}</div>
                    {% else %}
                        <div class="nav-username-display"></div>
                    {% endif %}
                    
                    <a href="{{ path('app_login') }}" id="login-button" class="nav-login-button">Login / Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer class="app-footer">
            <div class="footer-element">
                <img class="footer-icon" src="{{ asset('build/images/school_icon.649f9bf1.png')}}" alt="Address: ">
                <div class="footer-text">{{ school_address }}</div>
            </div>
            <div class="footer-element">
                <img class="footer-icon" src="{{ asset('build/images/phone_icon.23176dfc.png')}}" alt="Phone: ">
                <a href="tel:{{ school_email }}" class="footer-text">{{ school_telephone }}</a>
            </div>
            <div class="footer-element">
                <img class="footer-icon" src="{{ asset('build/images/mail_icon.e80e6df0.png')}}" alt="Email: ">
                <a href="mailto:{{ school_email }}" class="footer-text">{{ school_email }}</a>
            </div>
            <div class="footer-element">
                <img class="footer-icon" src="{{ asset('build/images/clock_icon.42a42dca.png')}}" alt="Time: ">
                <div class="footer-text">{{ school_working_hours }}</div>
            </div>
        </footer>
    </body>
</html>
